<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.forcetower.uefs">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".UEFSApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.connected.ConnectedActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.settings.SettingsActivity"
            android:theme="@style/AppTheme.PreferencesStyle">
        </activity>
        <activity android:name=".view.about.AboutActivity">
        </activity>
        <activity android:name=".view.suggestion.SuggestionActivity">
        </activity>
        <activity android:name=".view.discipline.DisciplineDetailsActivity">
        </activity>

        <service
            android:name=".sync.SyncAdapterService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>
        <service android:name=".sync.GenericAccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <provider
            android:name=".sync.SagresProvider"
            android:authorities="@string/authority"
            android:exported="false"
            android:label="@string/sagres_sync"
            android:syncable="true"/>

        <receiver android:name=".alm.RefreshBroadcastReceiver">
            <intent-filter>
                <action android:name="com.forcetower.uefs.REFRESH"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".alm.BootOptionsBroadcastReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".view.discipline.DisciplineClassesActivity">
        </activity>
        <activity android:name=".view.control_room.ControlRoomActivity">
        </activity>
        <activity android:name=".view.experimental.good_barrel.GoodBarrelActivity">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.forcetower.uefs.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".view.download.DownloadActivity">
        </activity>
    </application>

</manifest>